@font-face{
    font-family: 'Press Start 2P', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: Grey;
}

#containerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 480px;
    width: 480px;
    border: 10px solid black;
}

.boardDiv{
    border: .5px solid black;
    
}

.boardButtons{
    display: flex;
    justify-content: flex-start;
    
}

button{
    font-size: 20px;
}

