@font-face{
    font-family: 'Press Start 2P', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: Grey;
}

.header:hover{
    transform: scale(1.2);
    color: blue;
}

#containerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 480px;
    width: 480px;
    border: 10px solid black;
}

.boardDiv{
    border: .5px solid black;
    
}

.boardButtons{
    display: flex;
    
    
}

button{
    
    width: 70px;
    height: 50px;
}

input{
    width: 65px;
    height: 45px;
}

button:hover{
    background-color: blue;
    color: white;
}

input:hover{
    background-color: white;
    
}



